@charset "utf-8";

body{
	background:#e5e5e5;
	font-family:Arial, Helvetica, sans-serif;
}
.is-error-container{
	background:#f5f5f5;
	max-width:600px;
	overflow:auto;
	position:fixed;
	top:200px;
	margin:0px auto;
	z-index:1999;
}
.is-error-container .is-error-image{
	width:200px;
	height:200px;
	float:left;
	background:url(../images/is-401.png) center center no-repeat;
	background-size:contain;
	padding-left:30px;
}
.is-error-container .is-error-text{
	width:330px;
	height:160px;
	float:left;
	padding:20px;
	position:relative;
}
.is-error-container .is-error-text .is-error-title{
	margin-top:60px;
	font-size:16px;
	color:#333333;
}
.is-error-container .is-error-text .is-error-body{
	font-size:12px;
	color:#999999;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.is-error-container .is-error-text .is-error-body .is-error-buttons{
	position:absolute;
	bottom:20px;
	right:20px;
}
.is-error-container .is-error-text .is-error-body .is-error-buttons a{
	text-decoration:none;
	color:#0000FF;
}
.is-error-container .is-error-text .is-error-body .is-error-buttons a:hover,.is-error-container .is-error-text .is-error-body .is-error-buttons a:active{
	text-decoration:underline;
	color:#0000FF;
}