@media all and (max-width:1024px){	
	/* extra styles for iPad landscape*/
	
	.is-header .is-logo
	{
		width:auto !important;
	}
	
	.is-header .is-logo img
	{
		width:100% !important;
	}
}

@media all and (max-width:924px){
	/* extra styles for iPad portrait*/
	
	.is-middle.is-middle-split
	{
		display:block;
		flex-direction:unset;
	}
	
	.is-middle.is-middle-split .is-fixed.is-fixed-split
	{
		flex:unset;
		display:inline-block;
		flex-direction:unset;
		padding:10px;
	}
	
	.is-middle.is-middle-split .is-fixed.is-fixed-split > *
	{
		flex:unset;
		margin-top:20px;
		margin-bottom:0px;
	}
	
	.is-middle.is-middle-split .is-fixed.is-fixed-split > *:first-child
	{
		margin-top:10px;
	}
	
	.is-middle.is-middle-split .is-fixed.is-fixed-split:not(:first-child) > *:first-child
	{
		margin-top:0px;
	}
	
	.is-middle.is-middle-split .is-fixed.is-fixed-split:last-child > *:last-child
	{
		margin-bottom:10px;
	}
	
	.is-fixed
	{
		width:auto !important;
	}
	
	.is-middle .is-fixed
	{
		display:block !important;
		width:auto !important;
		max-width:100% !important;
	}
	
	.is-middle .is-left-column, 
	.is-middle .is-right-column
	{
		width:auto !important;
		float:none !important;
		clear:both !important;
		margin-top:20px;
	}
	
	.is-middle .is-left-column .is-form-item .is-form-label, 
	.is-middle .is-right-column .is-form-item .is-form-label
	{
		width:20% !important;
		padding:6px !important;
		text-align:right !important;
	}
	
	.is-middle .is-left-column .is-form-item .is-form-field, 
	.is-middle .is-right-column .is-form-item .is-form-field
	{
		width:75% !important;
	}
	
	.is-middle .is-left-column .is-form-item .is-form-field input[type=text], 
	.is-middle .is-left-column .is-form-item .is-form-field input[type=date],
	.is-middle .is-left-column .is-form-item .is-form-field input[type=color],
	.is-middle .is-left-column .is-form-item .is-form-field input[type=number],
	.is-middle .is-left-column .is-form-item .is-form-field input[type=tel],
	.is-middle .is-left-column .is-form-item .is-form-field input[type=url],
	.is-middle .is-left-column .is-form-item .is-form-field input[type=search],
	.is-middle .is-left-column .is-form-item .is-form-field input[type=password], 
	.is-middle .is-left-column .is-form-item .is-form-field input[type=email], 
	.is-middle .is-left-column .is-form-item .is-form-field select, 
	.is-middle .is-right-column .is-form-item .is-form-field input[type=text], 
	.is-middle .is-right-column .is-form-item .is-form-field input[type=date],
	.is-middle .is-right-column .is-form-item .is-form-field input[type=color],
	.is-middle .is-right-column .is-form-item .is-form-field input[type=number],
	.is-middle .is-right-column .is-form-item .is-form-field input[type=tel],
	.is-middle .is-right-column .is-form-item .is-form-field input[type=url],
	.is-middle .is-right-column .is-form-item .is-form-field input[type=search],
	.is-middle .is-right-column .is-form-item .is-form-field input[type=password], 
	.is-middle .is-right-column .is-form-item .is-form-field input[type=email], 
	.is-middle .is-right-column .is-form-item .is-form-field select
	{
		width:60% !important;
	}
	
	.is-middle .is-left-column .is-form-item .is-form-field textarea, 
	.is-middle .is-right-column .is-form-item .is-form-field textarea
	{
		width:88% !important;
	}
	
	.is-middle .is-left-column .submit, 
	.is-middle .is-right-column .submit
	{
		margin-bottom:20px !important;
	}
	
	.is-middle .is-left-column .submit input[type=submit],.is-middle .is-left-column .submit input[type=button], 
	.is-middle .is-right-column .submit input[type=submit],.is-middle .is-right-column .submit input[type=button]
	{
		width:auto !important;
		margin-right:12% !important;
		margin-left:4px !important;
	}
	
	.is-middle .is-content-right, 
	.is-middle .is-content-left
	{
		width:auto !important;
		float:none !important;
		clear:both !important;
		margin-top:20px;
	}
	
	.is-right,
	.is-left
	{
		max-width:100%;
		width:auto !important;
		float:none !important;
		min-height:0px;
	}
	
	.is-middle .is-fixed .is-right > .is-content-full:first-child,
	.is-middle .is-fixed .is-right > .is-content-right:first-child,
	.is-middle .is-fixed .is-right > .is-content-left:first-child,
	.is-middle .is-fixed .is-right > .is-content-grid:first-child,
	.is-middle .is-fixed .is-right > .is-left-column:first-child,
	.is-middle .is-fixed .is-right > .is-right-column:first-child,
	.is-middle .is-fixed .is-left > .is-content-full:first-child,
	.is-middle .is-fixed .is-left > .is-content-right:first-child,
	.is-middle .is-fixed .is-left > .is-content-left:first-child,
	.is-middle .is-fixed .is-left > .is-content-grid:first-child,
	.is-middle .is-fixed .is-left > .is-left-column:first-child,
	.is-middle .is-fixed .is-left > .is-right-column:first-child
	{
		margin-top:20px;
	}
	
	.is-middle .is-fixed > .is-content-full:first-child,
	.is-middle .is-fixed > .is-content-right:first-child,
	.is-middle .is-fixed > .is-content-left:first-child,
	.is-middle .is-fixed > .is-content-grid:first-child,
	.is-middle .is-fixed > .is-left-column:first-child,
	.is-middle .is-fixed > .is-right-column:first-child,
	.is-middle .is-fixed > .is-right:first-child > .is-content-full:first-child,
	.is-middle .is-fixed > .is-right:first-child > .is-content-right:first-child,
	.is-middle .is-fixed > .is-right:first-child > .is-content-left:first-child,
	.is-middle .is-fixed > .is-right:first-child > .is-content-grid:first-child,
	.is-middle .is-fixed > .is-right:first-child > .is-left-column:first-child,
	.is-middle .is-fixed > .is-right:first-child > .is-right-column:first-child,
	.is-middle .is-fixed > .is-left:first-child > .is-content-full:first-child,
	.is-middle .is-fixed > .is-left:first-child > .is-content-right:first-child,
	.is-middle .is-fixed > .is-left:first-child > .is-content-left:first-child,
	.is-middle .is-fixed > .is-left:first-child > .is-content-grid:first-child,
	.is-middle .is-fixed > .is-left:first-child > .is-left-column:first-child,
	.is-middle .is-fixed > .is-left:first-child > .is-right-column:first-child
	{
		margin-top:10px;
	}
	
	.is-middle .is-content-grid
	{
		display:block;
	}
	
	.is-middle .is-content-grid > .is-left-column,
	.is-middle .is-content-grid > .is-right-column
	{
		margin-top:20px;
	}
	
	.is-middle .is-fixed > .is-content-grid:first-child > .is-left-column:first-child,
	.is-middle .is-fixed > .is-content-grid:first-child > .is-right-column:first-child
	{
		margin-top:10px;
	}
}