.is-list-grid-icon{
	list-style-type:none;
	margin:5px;
	padding:0px;
	text-align:center;
	clear:both;
}

.is-list-grid-icon li{
    list-style-type:none;
	position:relative;
	width:20%;
	display:inline-block;
	margin:0px !important;
}

.is-list-grid-icon li:after{
	content:"";
	display:block;
	padding:0px;
	padding-bottom:100%;
}
	
.is-list-grid-icon li > a{
	border-color:#e6e6e6;
	border:1px solid #cccccc;
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	background-color:#f5f5f5;
	background-image:-moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image:-webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:-o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image:linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat:repeat-x;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	font-size:11px;
	font-weight:normal;
	font-family:"lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
	text-decoration:none;
	text-align:center;
	color:#333333 !important;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75);
	display:block;
	position:absolute;
	top:5px;
	left:5px;
	right:5px;
	bottom:5px;
}
	
.is-list-grid-icon li > a:hover{
	color:#333333 !important;
	text-decoration:none !important;
	background-color:#e6e6e6;
	background-position:0 -15px;
	-webkit-transition:background-position 0.1s linear;
	-moz-transition:background-position 0.1s linear;
	-o-transition:background-position 0.1s linear;
	transition:background-position 0.1s linear;
	border:1px solid #999;
}

.is-list-grid-icon li > a img{
	border-top-style:none;
	border-right-style:none;
	border-bottom-style:none;
	border-left-style:none;
	margin-right:auto;
	margin-left:auto;
	display:block;
	height:50px;
	width:50px;
	position:absolute;
	bottom:45%;
	left:50%;
	transform:translateX(-50%);
}

.is-list-grid-icon li > a span{
	overflow-wrap:break-word;
	word-wrap:break-word;
	-ms-word-break:break-all;
	word-break:break-all;
	word-break:break-word;
	-ms-hyphens:auto;
	-moz-hyphens:auto;
	-webkit-hyphens:auto;
	hyphens:auto;
	text-align:center;
	display:block;
	padding:0px;
	display:block;
	position:absolute;
	bottom:-20px;
	height:50%;
	left:10px;
	right:10px;
}

.is-list-grid-icon li > a .is-list-grid-icon-count{
	display:block;
	position:absolute;
	top:-1px;
	right:-1px;
	left:unset;
	bottom:unset;
	height:unset;
    padding:5px;
    background-color:#d28d8d;
    color:white;
	text-align:center;
    font-weight:normal;
    font-size:12px;
	line-height:12px;
	text-shadow:none;
	min-width:10px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
}

.is-list-grid-icon li > a .is-list-grid-icon-count:empty{
	display:none;
}

.is-list-grid-icon li .is-list-grid-icon-popup{
	top:85%;
	left:-15px;
	right:-15px;
	position:absolute;
	padding:10px;
	text-align: center;
	-webkit-border-radius:11px;
	-moz-border-radius:11px;
	border-radius:11px;
	cursor:pointer;
	z-index:2;
	color:#ffffff;
	background:#1d3153;
	display:none;
	font-weight:normal;
	margin:0px auto;
}

.is-list-grid-icon li:hover .is-list-grid-icon-popup{
	display:block;
	min-width:68px;
}

.is-list-grid-icon li .is-list-grid-icon-popup:after{
	display:block;
	content:"";
	border-color:transparent transparent #1d3153 transparent;
	border-style:solid;
	border-width:8px;
	height:0;
	width:0;
	position:absolute;
	top:-15px;
	right:50%;
	left:50%;
	-ms-transform:translateX(-50%);
	transform:translateX(-50%);
}

.is-list-grid-icon li .is-list-grid-icon-popup a{
	text-decoration:none;
	display:block;
	padding:6px;
	color:#e1e5f2;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
}

.is-list-grid-icon li .is-list-grid-icon-popup a:hover{
	text-decoration:none;
	display:block;
	padding:6px;
	color:#ffffff;
}

@media all and (max-width:1024px){	
	/* extra styles for iPad landscape*/
	
}

@media all and (max-width:924px){
	/* extra styles for iPad portrait*/

	.is-list-grid-icon li{
		width:25%;
	}
}

@media all and (max-width:896px){
	/* extra styles for iPhone landscape*/

	.is-list-grid-icon li{
		width:33.33%;
	}
}

@media all and (max-width:414px){
	/* extra styles for iPhone portrait*/

	.is-list-grid-icon li{
		width:50%;
	}
}