.is-list-lookup{
	margin:0px;
    margin-top:4px;
    margin-bottom:10px !important;
	list-style:none;
	list-style-type:none;
	list-style-image:none;
	padding:0px;
	border:1px solid #cccccc;
	border-top:none;
	background:#ffffff;
}

.is-list-lookup li{
	border-top:1px solid #cccccc;
	padding:4px !important;
	margin-top:0px !important;
	text-align:left !important;
	font-size:12px !important;
	font-family:arial !important;
}

.is-list-lookup li a{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	display:block;
	font-size:12px !important;
	text-decoration:none;
}

.is-list-lookup li span{
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	display:block;
	color:#666666;
	font-size:10px !important;
}

.is-list-lookup .is-title{
	line-height:14px !important;
	text-shadow:0 1px 1px rgba(255, 255, 255, 0.75) !important;
	background:#eeeeee !important;
	font-size:12px !important;
	color:#333333 !important;
	display:block !important;
	font-weight:bold !important;
	margin:0px !important;
	max-width:100% !important;
	position:static !important;
	-webkit-border-top-left-radius:0px !important;
	-webkit-border-top-right-radius:0px !important;
	-moz-border-radius-topleft:0px !important;
	-moz-border-radius-topright:0px !important;
	border-top-left-radius:0px !important;
	border-top-right-radius:0px !important;
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
	border:0px !important;
	border-top:1px solid #cccccc !important;
}

@media all and (max-width:1024px){	
	/* extra styles for iPad landscape*/
	
}

@media all and (max-width:924px){
	/* extra styles for iPad portrait*/
	
}

@media all and (max-width:896px){
	/* extra styles for iPhone landscape*/
	
}

@media all and (max-width:414px){
	/* extra styles for iPhone portrait*/
	
}