.is-tabs-horizontal{
	position:relative;
	color:#96959d;
	clear:both;
	padding:0px !important;
	border:2px solid rgb(60 60 60);
    border-radius:14px;
	background:#131215;
	overflow:hidden;
}

.is-tabs-horizontal.is-content-left,
.is-tabs-horizontal.is-content-right
{
	width:654px;
	clear:unset;
}

.is-tabs-horizontal.is-left-column,
.is-tabs-horizontal.is-right-column
{
	width:230px;
	clear:unset;
}
		
.is-tabs-horizontal .is-tabs-horizontal-body{	
	margin:0px;
	background:transparent;
	min-height:0px;
	padding:20px;
	font-size:14px;
}

.is-tabs-horizontal .is-tabs-horizontal-body.is-tabs-horizontal-body-expandable > div{
	transition:max-height 0.3s ease;
	max-height:369px;
	overflow:hidden;
	position:relative;
}

.is-tabs-horizontal .is-tabs-horizontal-body.is-tabs-horizontal-body-expandable > div.is-tabs-horizontal-body-expanded{
	max-height:unset !important;
}

.is-tabs-horizontal .is-tabs-horizontal-body.is-tabs-horizontal-body-expandable > div .is-tabs-horizontal-read-more{
	display: block;
	margin-top: 8px;
	background: #131215;
	border: none;
	color: #e2273d;
	cursor: pointer;
	font-weight: normal;
	font-size:14px;
	padding:20px;
	position:absolute;
	bottom:0px;
	left:0px;
	right:0px;
	text-align:center;
	box-shadow: 0 0px 44px 54px #131215;
}

.is-tabs-horizontal .is-tabs-horizontal-body.is-tabs-horizontal-body-expandable > div .is-tabs-horizontal-read-more:hover{
	color:#a81b0e;
}

.is-tabs-horizontal .is-tabs-horizontal-body .is-title{
	display:block;
	padding:10px 15px;
	margin-top:30px;
	margin-bottom:20px;
	border:3px solid rgba(226,39,61,0.4);
	background-color:rgba(226,39,61,0.08);
	line-height:150%;
	max-width:100%;
	font-weight:normal;
	color:#ffffff !important;
	font-size:16px;
	position:relative;
	border-radius: 999px;
}

.is-tabs-horizontal .is-tabs-horizontal-body div:first-child,
.is-tabs-horizontal .is-tabs-horizontal-body fieldset:first-child
{
	margin-top:0px;
}

.is-tabs-horizontal .is-tabs-horizontal-body p{
	font-weight:normal;
	text-align:left;
	font-size:14px;
	line-height:1.5;
}

.is-tabs-horizontal .is-tabs-horizontal-body > div > ul li,
.is-tabs-horizontal .is-tabs-horizontal-body > div > ol li
{
	margin-top:10px;
}

.is-tabs-horizontal .is-tabs-horizontal-body a{
	
}

.is-tabs-horizontal .is-tabs-horizontal-body .is-form-field input[type=button],
.is-tabs-horizontal .is-tabs-horizontal-body .is-form-field input[type=submit]
{
    padding:12px;
    font-size:14px;
}

.is-tabs-horizontal .is-tabs-horizontal-body div[style="text-align:right;"] > input[type=button]{
    margin-right:0px;
    margin-bottom:0px;
}

.is-tabs-horizontal .is-tabs-horizontal-body .is-prompt-container{
	margin:0px;
	margin-bottom:20px;
	margin-top:12px;
}

.is-tabs-horizontal .is-tabs-horizontal-body .is-prompt-container:first-child{
	margin:0px;
	margin-bottom:10px;
}

.is-tabs-horizontal > .is-prompt-container,
.is-tabs-horizontal > span:first-child .is-prompt-container
{
	margin:0px;
	margin-bottom:10px;
}

.is-tabs-horizontal .is-tabs-horizontal-body fieldset{
	margin:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	padding:0px;
	border:none;
	background:none;
	text-align:center;
}

.is-tabs-horizontal .is-tabs-horizontal-body blockquote{
	border-left:15px solid #2f2f2f;
	background: #232323;
    color: #96959d;
	padding:10px;
	padding-top:20px;
	padding-left:20px;
	font-weight:normal;
	text-align:left;
	margin-left:0px;
	margin-right:0px;
	margin-top:30px;
	margin-bottom:0px;
	display:block;
	quotes:'"' '"';
    position:relative;
	border-radius:8px;
}

.is-tabs-horizontal .is-tabs-horizontal-body blockquote:before{
	content: "*";
	color:#811724;
	line-height:5px;
	font-size:58px;
	font-weight:normal;
	font-family:'SigmarOne';
	margin-right:5px;
    position:absolute;
	left:5px;
	top:5px;
}

.is-tabs-horizontal .is-tabs-horizontal-body blockquote span:last-child{
	color:#666666;
	clear:both;
	display:block;
	font-size:12px;
	padding:0px;
	margin:0px;
	line-height:14px;
}

.is-tabs-horizontal .is-tabs-horizontal-body code{
    display: inline;
    background: rgba(226,39,61,0.08);
    border: 1px solid rgba(226,39,61,0.4);
    border-radius: 999px;
    padding: 1px 7px;
    font-size: 12px;
    color: #96959d;
}
		
.is-tabs-horizontal .is-tabs-horizontal-menu{	
	margin:0px;
	padding:0px;
	border:none;
	position:relative;
	background:transparent;
	border-bottom:1px solid rgb(60 60 60);
}

.is-tabs-horizontal .is-tabs-horizontal-menu ul{
	text-align:left;
	display:-webkit-box;
	display:-moz-box;
	display:-ms-flexbox;
	display:-webkit-flex;
	display:flex;
	margin:0px;
    padding:0px;
}
				
.is-tabs-horizontal .is-tabs-horizontal-menu li{
	padding:20px;
	margin:0px;
	display:block;
	cursor:pointer;
	list-style:none;
	text-align:center;
	line-height:19px;
	height:19px;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	font-size:14px;
	border-right:1px solid rgb(60 60 60);
	min-width:150px;
}

.is-tabs-horizontal .is-tabs-horizontal-menu li:a{
	text-decoration:none;
}

.is-tabs-horizontal .is-tabs-horizontal-menu li:hover{
	background:rgba(63, 20, 27, 1);
	text-decoration:none;
	color:#cccccc;
}

.is-tabs-horizontal .is-tabs-horizontal-menu li:first-child{
	border-top:none;
}

.is-tabs-horizontal .is-tabs-horizontal-menu li:last-child{
	
}

.is-tabs-horizontal .is-tabs-horizontal-menu li span{
	background:#dddddd;
	color:#ffffff;
	text-decoration:none;
	font-weight:normal;
	display:inline-block;
	line-height:15px;
	min-width:10px;
	padding:2px 5px;
	text-align:center;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	margin-left:5px;
	font-size:12px;
}

.is-tabs-horizontal .is-tabs-horizontal-menu li span:empty{
	display:none;
}
		
.is-tabs-horizontal .is-tabs-horizontal-menu .is-tabs-horizontal-menu-current{
	font-weight:normal;
	background:transparent;
	margin-right:0px;
	color:#ffffff;
}

.is-tabs-horizontal .is-tabs-horizontal-menu .is-tabs-horizontal-menu-current:hover{
	color:#ffffff;
}
		
.is-tabs-horizontal .is-tabs-horizontal-menu .is-tabs-horizontal-menu-current:before{
	content:"\279C ";
	color:#e2273d;
	margin-right:5px;
}
		
.is-tabs-horizontal .is-tabs-horizontal-menu .is-tabs-horizontal-menu-current:hover:before{
	content:"\279C ";
	color:#ff7272;
}

@media all and (max-width:1024px){	
	/* extra styles for iPad landscape*/
	
}

@media all and (max-width:924px){
	/* extra styles for iPad portrait*/

	.is-tabs-horizontal{
		display:block;
		padding:20px;
	}
	
	.is-tabs-horizontal .is-tabs-horizontal-body{
		width:auto;
		float:none;
	}
	
	.is-tabs-horizontal .is-tabs-horizontal-menu{
        width: auto;
        float: none;
        padding-top: 10px;
        padding-bottom: 10px;
	}
	
	.is-tabs-horizontal.is-tabs-horizontal-static .is-tabs-horizontal-menu{
        padding-top:0px;
        padding-bottom:0px;
	}
	
	.is-tabs-horizontal.is-tabs-horizontal-static .is-tabs-horizontal-menu ul{
		overflow:auto;
		overflow-y:hidden;
	}
	
    .is-tabs-horizontal.is-tabs-horizontal-static .is-tabs-horizontal-menu ul::-webkit-scrollbar{
        display:none;
	}

	.is-tabs-horizontal:not(.is-tabs-horizontal-static) .is-tabs-horizontal-menu{
		border-bottom:none;
	}

	.is-tabs-horizontal:not(.is-tabs-horizontal-static) .is-tabs-horizontal-menu ul{
		display:block;
	}
					
	.is-tabs-horizontal:not(.is-tabs-horizontal-static) .is-tabs-horizontal-menu li{
	    text-align:center;
		display:block;
		border:none;
		padding:15px 10px;
		border-bottom:1px solid rgb(60 60 60);
	}
					
	.is-tabs-horizontal:not(.is-tabs-horizontal-static) .is-tabs-horizontal-menu li:hover{
	   background:none;
	}
			
	.is-tabs-horizontal:not(.is-tabs-horizontal-static) .is-tabs-horizontal-menu .is-tabs-horizontal-menu-current,
	.is-tabs-horizontal:not(.is-tabs-horizontal-static) .is-tabs-horizontal-menu .is-tabs-horizontal-menu-current:hover
	{
		background:transparent;
		background-image:none;
		filter:none;
	}
}

@media all and (max-width:896px){
	/* extra styles for iPhone landscape*/
	
}

@media all and (max-width:414px){
	/* extra styles for iPhone portrait*/
	
}